* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.reContainer {
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8a0707;
  font-family: "Times New Roman", serif;
  text-align: center;
  overflow: hidden;
}

.fadeInText {
  animation: fadeInAnimation ease 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.youDiedText {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #3f0000, 0 0 20px #300000;
  text-transform: uppercase;
}

.errorCode {
  font-size: 2rem;
  color: #7a7a7a;
  margin-top: 10px;
}

.reDescription {
  color: #555;
  margin-bottom: 40px;
  font-style: italic;
}

.reBtn {
  text-decoration: none;
  color: #8a0707;
  font-size: 1.5rem;
  border: 2px solid #8a0707;
  padding: 10px 30px;
  transition: all 0.3s ease;
  font-weight: bold;
  letter-spacing: 2px;
}

.reBtn:hover {
  background-color: #8a0707;
  color: #000;
  box-shadow: 0 0 15px #8a0707;
  cursor: pointer;
}

@media (max-width: 768px) {
  .youDiedText {
    font-size: 4rem;
  }
}