* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #044040;
}

.nosotros {
    padding: 50px;
    background-color: #044040;
    color: white;
    height: 400px;
    border-radius: 10px;
}

.team-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.member-card:hover {
transform: scale(1.05);
transition: 0.3s;
box-shadow: 0 0 15px #22c55e;
}

.titulo-equipo {
    margin-bottom: 70px;
    border: solid;
    height: 100px;
    padding: 15px;
}

p {
    font-size: 25px;
    margin-top: 30px;
}